@charset "UTF-8";
@import (reference) "main";

@contentBgColour: #fc6e69;
@contentHorizontalPadding: 4rem;
@contentVerticalPadding: @headerFooterHeight + 2.5rem;

.content {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
    padding: @contentVerticalPadding @contentHorizontalPadding;

    background: @contentBgColour;

    h2 {
        font-size: 1.4rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 2rem;
    }
}

section {
    width: 100%;
    margin-bottom: 3rem;
}

.instructions {
    p {

    }
}

#courses-form {
    width: 100%;
}

.courses, .form-actions, .total-hours {
    width: 100%;
    margin-bottom: 1rem;
}

.courses {
    padding-bottom: 1rem;
    border-bottom: 1px solid #555;
}

// Courses-table columns

.points, .work {
    width: 200px;
}

.course {
    min-width: 40%;
}

.actions {
    width: 80px;
}

.form-actions {
    button {
        margin-right: 1rem;
    }
}

.total-hours {
    display: flex;
    flex-direction: column;

    label {
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
}

#total-hours-input {
    max-width: 200px;
}

.new-item {
    opacity: 0;
    -webkit-animation: new-item-animation 250ms linear forwards;
    -moz-animation: new-item-animation 250ms linear forwards;
    -ms-animation: new-item-animation 250ms linear forwards;
    animation: new-item-animation 250ms linear forwards;
}

.empty-row {
    text-align: center;
}

@-webkit-keyframes new-item-animation {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
